div {
    margin-bottom: 10px;
}

.container{
    width: auto !important;
    overflow: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
}

